html{
    height:100%;
}

body {
<<<<<<< HEAD
=======
    background-image:url(../img/background-image.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
    background-size:cover;
>>>>>>> parent of dea756f... background-size:auto;
}
